ul.nav.navbar-nav
  li
    a.js-link(data-nav='panel' href=routes.panelPath()) Panel
  li
    a.js-link(data-nav='shed' href=routes.shedPath()) Shed
  li
    a.js-link(data-nav='dependencies' href=routes.dependenciesPath()) Dependencies
  li
    a.js-link(data-nav='dependency_resolvers' href=routes.dependencyResolversPath()) Dependency Resolvers
