include ./includes/modal.jade

+modal("New Section")
  div.form-group
    label.control-label Section Name
    input.form-control(type="text", name="name")
  div.form-group
    label.control-label Section ID
    input.form-control(type="text", name="id")
